@model User
<form asp-action="AddUser" asp-controller="Logins" method="POST">
    <span asp-validation-for="first_name" class="form_errors"></span>
    <label asp-for="first_name">First Name:</label>
    <input asp-for="first_name">
    
    <span asp-validation-for="last_name" class="form_errors"></span>
    <label asp-for="last_name">Last Name:</label>
    <input asp-for="last_name">
    
    <span asp-validation-for="email" class="form_errors"></span>
    <label asp-for="email">Email:</label>
    <input asp-for="email">
    
    <span asp-validation-for="password" class="form_errors"></span>
    <label asp-for="password">Password:</label>
    <input asp-for="password">
    
    <span asp-validation-for="confirm_password" class="form_errors"></span>
    <label asp-for="confirm_password">Confirm Password:</label>
    <input asp-for="confirm_password">

    <button type="submit">Submit</button>
</form>